%section
  .container.content
    .row
      .span12
        %h1
          %i.icon-sitemap
          All Pages
        %p.text-info.lead All pages in this wiki
      .span12
        %ul
          - @pages.each do |page|
            %li
              %a{href: "/#{page.url}"}=page.url